* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: hsla(255, 28%, 14%, 0.865);
  color: hsl(0, 0%, 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 80px;
}

.navbar {
  background-color: hsl(0, 87%, 24%);
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.container-xxl {
  margin-top: 70px;
}


iframe {
  margin-left: 20px;
  border-top: 20px solid rgba(3, 26, 230, 0.2);
  border-left: 20px solid rgba(206, 67, 67, 0.2);
  border-right: 20px solid rgba(206, 67, 67, 0.2);
  border-bottom: 20px solid rgba(206, 67, 67, 0.2);
  box-shadow: 4px 4px 8px rgba(206, 67, 67, 0.2);
  width: 100%;
  max-width: 730px;
}

label {
  font-weight: 500;
  margin-top: 10px;
}

form label,
form input,
form select,
form textarea {
  margin-bottom: 10px;
}

input[type="submit"],
input[type="reset"] {
  margin-right: 10px;
}

@media (max-width: 768px) {
  iframe {
    margin-left: 0;
    margin-top: 20px;
  }
}